{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <!--En este lugar va lo que cambia y se asocia a la vista -->
    <h1>Acerca de mí</h1>
        <p>¡Hola! Mi nombre es Ezequiel De Vita y soy el creador de esta pagina web basada en la artista Cheyca Parker, en el cual vamos a poder apoyarla formando parte de su fandom!.</p>
        <ul>
            <li>La pregunta es "Como?!", en la parte superior de la pagina vamos a ver el titulo "Fans", el cual nos dirigirá a poder sumarnos al fandom de Chey!</li>
            <li>Tambien podremos sumarnos como lideres de grupos de todo el mundo! Y lo podremos hacer desde el formulario en la parte superior de la pagina donde dice "Paises seguidores"</li>
            <li>Ademas vamos a poder entrar a ver sus videos de los canales de Youtube desde el link en "Construyentes" y en "Dream Achievers"!!</li>

        </ul>
        
        <p>Ya que vimos de que va la pagina ahora hablemos sobre su creador.</p>
        <br>
        <p>Soy un estudiante de programacion de Python y estoy emocionado de realizar este proyecto.</p>
        <p>Siempre estoy buscando aprender nuevas tecnologías para mejorar mis habilidades como desarrollador.</p>
        <p>En mi tiempo libre, me gusta resolver desafíos de programación, leer libros técnicos y contribuir a proyectos de código abierto.</p>
        <p>Si tienes alguna pregunta o deseas conocer más sobre mí, ¡no dudes en contactarme!</p>
        <p>Puedes encontrarme en:</p>
        <ul>
            <li>Email: ezequieldev@hotmail.com</li>
        </ul>
    
    
{% endblock %}