{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }
</style>


    <!--En este lugar va lo que cambia y se asocia a la vista -->
    <h1>Dream achievers</h1>
    <p>EXCLUSIVELY Join Us If You're READY to Unlock Your Potential and Manifest Your EXTRAORDINARY Life.
<br>
        Welcome to Cheyca Parker Dream Achievers Youtube Channel, a place dedicated to helping you unlock your full potential and live a life of purpose, abundance, and productivity. 
        <br>
        Here you will find valuable insights, practical strategies, and empowering guidance on personal development, manifestation, Law of Attraction, Law of Assumption and enhancing your productivity.
        <br>
        Through videos, we explore various topics such as goal setting, mindset shifts, manifestation techniques, time management, and self-care practices. 
        <br>
        Whether you're seeking personal growth, aiming to manifest your dreams into reality, or looking for ways to boost your productivity, this channel is designed to provide you with the tools and inspiration you need.
        <br>
        ¿Are you ready to personal transformation and achieving your goals?</p>
<br>
<a href="https://www.youtube.com/@_dreamachievers">Canal de Youtube!!</a>

<br>
<p>Equipo: Cheyca Parker, Ezequiel De Vita</p>

{% endblock %}