<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de profesores</title>
</head>
<body>
    {% for p in profesores%}
        <li>{{p}}</li>
        <button>
            <a href="{% url 'EliminarProfesor' p.nombre %}">Eliminar</a>
            <a href="{% url 'EditarProfesor' p.nombre %}">Editar</a>
        </button>
    {%endfor%} 
    <br>
    <a href="profesorFormulario">Agregar nuevo profesor</a>

</body>
</html>