{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }
</style>


    
    <h1>Lideres de grupos de fans en todo el mundo!!</h1>
    <p>En la siguiente pagina van a poder cargar a sus lideres del grupo de fans de sus paises!!!


    <a href="http://127.0.0.1:8000/AppCoder/lideresFormulario">Creacion de lideres de grupo de fans</a>
    </p>


{% endblock %}