{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Agregar Lider</title>
</head>
<body>
    {% if miFormulario.errors %}
        <p style="color: red;">Estan mal los datos</p>
    {% endif %}
    <form action="" method="POST"> {% csrf_token %}

        <!--Aca van los elementos de Django-->

        <table>
            {{ miFormulario.as_table}}
        </table>
     
        <input type="submit" value="Enviar">
    </form>
</body>
</html>

{%endblock%}